@import 'mixins';

$select-short-min-height: 40px;
$select-standard-min-height: 56px;

$select-options-box-shadow: 0px 2px 8px rgba(96, 123, 153, 0.3);
$select-options-max-height: 250px;

$select-radius: 8px;
$select-padding: 6px 16px 6px 12px;
$select-padding-short: 8px 16px 8px 12px;
$select-height: 56px;

:host {
  display: block;
}

.select {
  position: relative;
  outline: none;

  input {
    appearance: none;
    opacity: 0;
    position: absolute;
    left: 12px;
    bottom: 8px;
    background: transparent;
    cursor: default;
    z-index: -1;
    width: 80%;
  }

  &__body {
    $self: &;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-neutral-light-snow;
    border: 1px solid $color-neutral-medium-wave;
    border-radius: $select-radius;
    box-sizing: border-box;

    &--focus {
      border: 1px solid $color-primary-main;
      box-shadow: 0 0 2px 1px rgba($color-primary-light, 0.5);
    }

    &--danger {
      border: 1px solid $color-extend-reds-delete;
      box-shadow: 0 0 2px 1px $color-extend-reds-flower;

      #{$self}__label {
        color: $color-extend-reds-delete;
      }
    }

    &--disabled {
      border: 1px solid $color-neutral-medium-wave;
      background: $color-neutral-light-whisper;

      #{$self}__label {
        color: $color-neutral-medium-silver;
      }

      &:hover {
        cursor: not-allowed;
      }
    }

    &--padding-short {
      padding: $select-padding-short;
      min-height: $select-short-min-height;
    }

    &--padding-standard {
      padding: $select-padding;
      min-height: $select-standard-min-height;
    }

    &__label {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__placeholder {
      color: $color-neutral-medium-cloud;
    }

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;

      &__icon {
        color: $color-primary-main;
        background-color: $color-disabled-bg;
        cursor: inherit;
        display: inline-flex;
        border-radius: $select-radius;
        margin-right: 8px;
        padding: 2px;
      }
    }
  }

  &__arrow {
    color: $color-neutral-medium-cloud;
    display: flex;
  }

  &__options {
    @include custom-scroll;

    background: $color-neutral-light-breeze;
    width: 100%;
    max-height: 250px;
    position: absolute;
    top: 99%;
    left: 0;
    border-radius: $select-radius;
    box-shadow: $select-options-box-shadow;
    overflow-y: auto;
    z-index: 2;
    margin-top: 4px;

    transition: transform 0.25s, opacity 0.75s, visibility 0.75s;
    transform-origin: top left;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;

    box-shadow: 0px 2px 12px $shadow-drop;

    &--open {
      visibility: visible;
      transform: scale(1);
      opacity: 1;
    }

    &--position-top {
      top: auto;
      bottom: 100%;
      transform-origin: bottom left;
    }
  }
}
